/*
    Document   : semantifier_style
    Created on : Oct 26, 2011, 11:12:07 AM
    Author     : mvdrsand
    Description:
        Purpose of the stylesheet follows.
        Blue #00B5FB
*/


body {
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.pane {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #AAAAAA;
    margin: 10px 10px 10px 10px;
    background-color: #FFFFFF
}

#left_pane {
    top: 0px;
    width: 30%;
    position: absolute;
    left:0px;
    overflow: auto;
}

#center_pane {
    width: 43%;
    position: relative;
    top: 0px;
    left: 32%;
}
#bottom_pane {
    width: 30%;
    position: absolute;
    bottom: 0px;
    left:0px;
    
    height: 50%;
}

#right_pane {
    width: 20%;
    position: absolute;
    top: 0px;
    right:0px;
}

.sidenote{
    font-size: 10px;
    font-style: italic;
}

.package_label {
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 6px;
    background: url(lib/images/blue/database.png) no-repeat 0 -5px;
}

.resource_label {
    display: block;
    cursor: pointer;
    font-size: 14px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
    padding-left: 30px;
    padding-bottom: 6px;
    background: url(lib/images/blue/connections.png) no-repeat 0 -5px;
    
}
.resource_label:hover{
    color:#CCCCCC;
}
.preview_buttons {
    font-size:11px;
    margin-bottom: 5px;
}

#data_preview {
    overflow: auto;
    height: 100%;
    font-family: serif;
    font-size: 10px;
}

#ontology .data_member {
    padding: 5px 5px 5px 5px;
    background-color: gray;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    font-size: 12px;
}

#ontology .data_member:hover {
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    font-weight: bold;
    color:gray;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer
}

.member_hover {
    background-color: white;
}

#ontology .new_member {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #AAAAAA;
    background-color: #CCCCCC;
    font-size: 11px;
    vertical-align: middle
}

#ontology .new_member input{
    margin-right: 10px;
}

#ontology .new_member_button {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11px;

}

#vocabulary_lookup {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #AAAAAA;
}

#vocabulary_lookup select {
    width:100%;
}

#vocabulary_lookup .subtitle{
    color: gray;
}

#search_result{

    /*height: 600px;
    overflow: auto;*/
}

#search_result .subtitle{
    color: #0099cc;
    margin-bottom: 10px;
}

.subtitle{
    font-size:16px;
    display:block;
}

#search_result .search_result_m {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #AAAAAA;
    font-size: 10px;
}

#search_result .search_result_property {
    padding: 2px 2px 2px 2px;
    background-color: #ff3333;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
}

#search_result .search_result_class {
    padding: 2px 2px 2px 2px;
    background-color: #3333ff;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;

}

.ui-draggable {
    box-shadow: 2px 2px 2px #888;
}

.ui-draggable-dragging {
    box-shadow: 5px 5px 5px #888;
}

.highlight { background-color: yellow }

#ontology .mapping {
    margin-left: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #AAAAAA;
    font-size: 10px;
}

.box {
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}

.title {

    font-size: 18px;
    color: #00B5FB;
    display: block;
    margin-bottom: 10px;

}

#no_ontology .create_ontology {
    padding: 5px 5px 5px 5px;
    background-color: #AAAAAA;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color:white;
    margin-bottom: 5px;
    font-size: 14px;

    cursor: pointer
}

#no_ontology .create_ontology:hover {
    background-color: #74b2e2;
}

#no_ontology .create_ontology_nr {
    margin-right: 5px;
    font-size: 18px;
    color: #FFFFFF
}

.loading {
    background: url(lib/images/ajax-loader.gif) no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
    
    font-size: 14px;
    color: #CCCCCC;
    text-align: center;
    
    vertical-align: middle;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}