/* 
    Document   : semantifier_style
    Created on : Oct 26, 2011, 11:12:07 AM
    Author     : mvdrsand
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

#left_pane {
    margin: 10px 10px 10px 10px;
    width: 30%;
    position: absolute;
    top: 0px;
    left:0px;
}

#center_pane {
    margin: 10px 10px 10px 10px;
    width: 40%;
    position: absolute;
    top: 0px;
    left: 30%;

}

#right_pane {
    margin: 10px 10px 10px 10px;
    width: 30%;
    position: absolute;
    top: 0px;
    right:0px;
}


.box {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    margin: 15px 15px 15px 15px;
}

.box span {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #0099cc;
    font-weight: lighter;
}

#ontology .data_member {
    padding: 5px 5px 5px 5px;
    background-color: gray;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
.member_hover {
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    font-weight: bold;
    color:gray;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#ontology .new_member_button {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}



#vocabulary_lookup {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: lightgray;
}

#vocabulary_lookup select {
    width:100%;
}

#vocabulary_lookup .subtitle{
    color: gray;
}

#search_result{
   padding: 5px 5px 5px 5px;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   
}

#search_result .subtitle{
    color: #0099cc;
    margin-bottom: 10px;
}

.subtitle{
    font-size:16px;
    display:block;
}

#search_result .search_result_m {
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: lightgray;
    font-size: 10px;
}

#search_result .search_result_property {
    padding: 2px 2px 2px 2px;
    background-color: #ff3333;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
}

#search_result .search_result_class {
    padding: 2px 2px 2px 2px;
    background-color: #3333ff;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    
}

.ui-draggable {
    box-shadow: 2px 2px 2px #888;
}

.ui-draggable-dragging {
    box-shadow: 5px 5px 5px #888;
}