/* 
    Document   : semantifier_style
    Created on : Oct 26, 2011, 11:12:07 AM
    Author     : mvdrsand
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

span.button {
    background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #ffffff),color-stop(1, #dbdbdb));
    filter: progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#dbdbdb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
    border: 1px solid #fff;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

    padding: 5px 15px;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline;
    color: #597390;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
}

span.button:hover {
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #ffffff),color-stop(1, #eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#eeeeee')";
    color: #000;
    display: block;
}

/*li.button:active {
    background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #dbdbdb),color-stop(1, #ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#dbdbdb', EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
    text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
    margin-top: 1px;
}*/

span.button {
    border: 1px solid #979797;
}

span.button.icon {
    padding-left: 11px;
}

span.button.icon span{
    padding-left: 36px;
    background: url(images/open-source-icons/PNG/blue/tag.png) no-repeat 0 -4px;
}

.box {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    margin: 15px 15px 15px 15px;
}

.box span {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #0099cc;
    font-weight: lighter;
}

.resource_item {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    
}

.resource_item.resource_item_title {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #3366ff;
    font-style: normal;
    font-weight: normal;
}

.preview_button {
    background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #ffffff),color-stop(1, #dbdbdb));
    filter: progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#dbdbdb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
    border: 1px solid #fff;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    
    display: inline;
    color: #597390;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    
    padding: 2px 2px 2px 2px;
}

.preview_button:hover {
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #ffffff),color-stop(1, #eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
        (startColorStr='#ffffff', EndColorStr='#eeeeee')";
    color: #000;
    display: block;
}